name: R-CMD-check (Fork-only, Rocker)

on:
  push:
    branches: [main, '**']
  pull_request:
    branches: [main, '**']

jobs:
  R-CMD-check:
    runs-on: ubuntu-latest
    container:
      image: rocker/verse:latest

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes

    steps:
      - uses: actions/checkout@v4

      - name: Install system dependencies
        run: |
          apt-get update
          apt-get install -y libcurl4-openssl-dev libssl-dev libxml2-dev libgit2-dev libglpk-dev

      - name: Install R dependencies
        run: |
          install.packages(c(
            "rstan", "bayesplot", "bridgesampling", "future", "future.apply", "nleqslv",
            "R.rsp", "knitr", "rcmdcheck", "rmarkdown", "lme4", "mice", "BH", "MCMCglmm",
            "ape", "cmdstanr", "RcppEigen", "testthat", "emmeans", "projpred", "priorsense",
            "RWiener", "rtdists", "extraDistr", "spdep", "mnormt", "splines2", "arm",
            "statmod", "diffobj", "betareg" , "digest"
          ), repos = "https://cloud.r-project.org")
        shell: Rscript {0}

      - name: Install CmdStan
        run: |
          cmdstanr::check_cmdstan_toolchain(fix = TRUE)
          cmdstanr::install_cmdstan(cores = parallel::detectCores())
        shell: Rscript {0}

      - name: Run R CMD check
        run: |
          rcmdcheck::rcmdcheck(args = c("--no-manual", "--as-cran", "--ignore-vignettes"))
        shell: Rscript {0}

